.aboutTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.aboutBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.aboutBottom h1{
    text-align: center;
}


.aboutBottom p{
    margin-top: 40px;
    width: 70%;
}

@media screen and (max-width: 400px) {
    .aboutBottom{
        margin: 50px 20px;
    }

    .aboutBottom p{
        width: 100%;
    }
}